{% extends "base.html" %}

{% block content %}

<main class="mt-5 pt-4">

  <div class="row d-flex justify-content-center wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 text-center">

      <h1 class="my-2 h1"> Le restaurant</h1>



    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
  <div class="row d-flex justify-content-center wow fadeIn ">

    <!--Grid column-->
    <div class="col-md-9">

      <h2 class="my-2 h2">About Us</h2>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged.
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row wow fadeIn three-photos">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

      <img src="https://i.ibb.co/5L4K0WS/Homepage.jpg" class="three-photos-img" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <img src="https://i.ibb.co/hC1jryP/9j.jpg" class="three-photos-img" alt="">


    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <img src="https://i.ibb.co/25dcjZs/9u.jpg" class="three-photos-img" alt="">

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  </div>
</main>

{% endblock content %}