{% extends "base.html" %}

{% block content %}

<main class="mt-5 pt-4">

  <div class="row d-flex justify-content-center wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 text-center">

      <h1 class="my-2 h1">Welcome to Le restaurant</h1>



    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
  <div class="row d-flex justify-content-center wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 text-center">

      <h2 class="my-2 h2">Welcome to Le restaurant</h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
        voluptates,
        quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

      <!-- <img src="https://i.ibb.co/5L4K0WS/Homepage.jpg" class="img-fluid" alt=""> -->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <!-- <img src="https://i.ibb.co/CVZqp98/9v.jpg" class="img-fluid" alt=""> -->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <!-- <img src="https://i.ibb.co/25dcjZs/9u.jpg" class="img-fluid" alt=""> -->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  </div>
</main>

{% endblock content %}